@import "./normalize.less";
@import (reference) "./colors.less";

body {
  background: @colorb;
  color: @colore;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

article {
  padding: 10px;
  margin: 0 auto;
  width: 700px;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p,
pre {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

nav {
  background-color: @colora;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  a {
    padding: 10px;
    display: inline-block;
    color: #fff;
  }
  .active {
    color: @colorc;
  }
}

.blocks-container {
  margin: 0 auto;
}

.blocks {
  column-count: 8;
  column-gap: 1em;
  @media only screen and (max-width: 768px) {
    column-count: 6;
  }
  @media only screen and (max-width: 600px) {
    column-count: 2;
  }
}

.block {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  img {
    display: block;
    width: 100%;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
  }
  &:hover img {
    opacity: 0.8;
  }
}
