@import "./normalize.less";
@import "./modal.less";
@import "./block.less";
@import "./typo.less";
@import "./nav.less";
@import (reference) "./vars.less";

body {
  background: @background;
  color: @text;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  overflow-y: scroll;
}

article {
  padding: 10px;
  margin: 0 auto;
  width: @article_width;
}
