@import "./normalize.less";
@import (reference) "./colors.less";

@articleWidth: 700px;

body {
  background: @colorb;
  color: @colore;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

article {
  padding: 10px;
  margin: 0 auto;
  width: @articleWidth;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p,
pre {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

nav {
  background-color: @colora;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  a {
    padding: 10px;
    display: inline-block;
    color: #fff;
  }
  .active {
    color: @colorc;
  }
}

.blocks {
  margin: 0 auto;
  column-count: 8;
  column-gap: 1em;
  @media only screen and (max-width: 768px) {
    column-count: 6;
  }
  @media only screen and (max-width: 600px) {
    column-count: 2;
  }
}

.block {
  background-color: @colorc;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  img {
    display: block;
    width: 100%;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
  }
  &:hover img {
    opacity: 0.8;
  }
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.modal {
  background: @colora;
  color: @colorb;
  border-radius: 0 0 3px 3px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: @articleWidth;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  z-index: 4;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  color: @colorb;
  font-size: 18px;
  padding: 10px;
  font-weight: 700;
  z-index: 5;
  cursor: pointer;
}
.modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}
