@import (reference) "./vars.less";

.modal-open {
  // overflow-y: hidden;
}
.modal-backdrop {
  width: 100%;
  height: 100%;
  background: @modal_backdrop_background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @z_index_modal_backdrop;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  .modal-open & {
    opacity: 1;
    pointer-events: auto;
  }
}
.modal {
  background: @modal_background;
  color: @modal_text;
  border-radius: @modal_radius;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  width: @article_width;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  z-index: @z_index_modal;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  .modal-open & {
    opacity: 1;
    pointer-events: auto;
  }
  @media only screen and (max-width: 768px) {
    top: 0;
  }
  @media only screen and (max-width: 600px) {
    top: 0;
  }
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  color: @modal_close;
  font-size: 18px;
  padding: 19px;
  font-weight: 700;
  z-index: @z_index_modal_close;
  cursor: pointer;
}
.modal-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: auto;
}
